/** @format */

.App {
    max-width: 600px;
    margin: auto;
}

.App footer {
    font-size: 14px;
    margin-top: 4px;
}

.App footer a {
    text-decoration: none;
    color: #440000;
}

.Weather .Wrapper {
    background-image: url(newspaper.jpeg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid red;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Weather p {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}

.Weather form {
    text-align: center;
}

.Weather .btn {
    width: 120px;
}

.Weather h1 {
    text-transform: capitalize;
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
}

.Weather ul {
    list-style: none;
}

.Weather h2,
.active {
    font-size: 44px;
}

.Weather .units {
    font-size: 18px;
}

.Weather a {
    text-decoration: none;
    color: #212529;
}

@media (max-width: 480px) {
    .Weather h2,
    .active {
        font-size: 32px;
    }
    .Weather ul {
        font-size: 12px;
    }
}